---
layout: base.njk
title: Paintings
extraJs: /js/main.js
permalink: /paintings/
---
<div class="container">
  <h1>Paintings</h1>
  <div class="gallery-grid">
    {%- for file in paintings %}
    <div class="painting"><img src="{{ ('/images/paintings/' + file) | url }}" alt="Painting"></div>
    {%- endfor %}
  </div>
</div>

<div id="lightbox" class="lightbox">
  <img class="lightbox-content" src="" alt="">
</div>
