---
layout: base.njk
title: Paintings
extraJs: /js/main.js
permalink: /paintings/
---
<div class="container">
  <h1>Paintings</h1>
  <div class="gallery-grid">
    <div class="painting"><img src="/images/paintings/22-09-1010-14 AMJPEG - Full size HQ copy.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/22-09-1011-26 AMJPEG - Full size HQ copy.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/22-09-1011-28 AMJPEG - Full size HQ copy.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/IMG_5086 copy.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/IMG_5147 copy.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/IMG_5182 copy.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/IMG_5318 copy.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/IMG_5319.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/IMG_5321 copy.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/IMG_5324 copy.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/IMG_5327 copy.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Painting 1204.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing1203.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_ 1.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_ 1132.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_ 2.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_1003.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_1031.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_1132.jpg" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_1136.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_152.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_3-29-23.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_3.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_4 1.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_4.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_5 1.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_5 2.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_5 4.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_6.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_7.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_8.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_931.png" alt="Painting"></div>
    <div class="painting"><img src="/images/paintings/Thing_CD1.jpg" alt="Painting"></div>
  </div>
</div>

<div id="lightbox" class="lightbox">
  <img class="lightbox-content" src="" alt="">
</div>
