---
layout: base.njk
---
<div class="container">
  <h1>{{ title }}</h1>
  <div class="post-content">
    {{ content | safe }}
  </div>
  <a href="/stories/" class="back-link">&larr; Back to stories</a>
</div>
